#activities {
    padding-top: 10rem;
}

.acti_con {
    margin-top: 4rem;
    display: flex;
    justify-content: space-between;
    overflow-y: scroll;
}

.acti_con::-webkit-scrollbar {
    display: none;
}

.acti_con > div {
    width: 50%;
}

.acti_con h1 {
    font-size: 5rem;
    font-weight: bold;
}

.acti_con > div:nth-of-type(2) {
    display: flex;
    justify-content: center;
}

.acti_box {
    width: 500px;
    height: 350px;
    background-color: lightblue;
    margin-bottom: 20px;
}