/* attractions */
#attractions {
    padding-top: 12rem;
}

/* attr contents */
.attr_contents {
    position: relative;
    margin-top: 6rem;
    width: 100%;
    height: 48rem;
}

:root {
    --swiping: .6s ease-in-out;
}

/* location_info */
.location_info {
    position: absolute;
    top: 0;
    left: 70rem;
    width: 50rem;
    height: 16rem;
    z-index: 1;
}

.location_info > div {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
}

.location_info svg {
    width: 2.5rem;
    margin-right: 1.5rem;
}

.location_info path {
    fill: #888888;
}

.location_info p {
    font-size: 1.4rem;
}

.place_tag {
    margin-top: 2rem;
}

.place_tag span {
    text-transform: uppercase;
    font-size: 1.2rem;
    color: var(--orange);
    padding: 0 1.5rem;
    border: 1px solid var(--orange);
    height: 3rem;
    overflow: hidden;
    display: flex;
    align-items: center;
    border-radius: 5rem;
    margin-right: 2rem;
    pointer-events: none;
    user-select: none;
}

/* swip_btn */
.swip_btn {
    position: absolute;
    top: 34rem;
    left: 58rem;
    display: flex;
    z-index: 1;
}

.swip_btn button {
    width: 4rem;
    height: 4rem;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
}

.swip_btn img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.swip_btn img:hover {
    filter: invert(63%) sepia(84%) saturate(1608%) hue-rotate(347deg) brightness(99%) contrast(95%);
}

/* swiper */
.swiper {
    height: 100%;
    overflow: hidden;
    display: flex;
    transition: var(--swiping);
    transform: translateX(-1400px);
}

.attr_box {
    position: relative;
    width: 66rem;
    height: 100%;
    margin-right: 4rem;
    overflow: hidden;
    transition: var(--transition);
}

.attr_img {
    position: relative;
    width: 100%;
    height: 32rem;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: var(--transition);
    user-select: none;
    transform: translateY(160px);
}

.attr_img::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.2);
}

.attr_img img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.attr_img p {
    position: absolute;
    bottom: 3rem;
    left: 3rem;
    color: var(--light);
    font-size: 3.5rem;
    font-weight: bold;
    text-transform: capitalize;
    transition: var(--transition);
}

/* attr_info */
.attr_info {
    padding: 0 3rem;
    padding-top: 2rem;
}

.attr_name {
    font-size: 2.5rem;
    text-transform: capitalize;
}

.attr_exp {
    margin-top: 1rem;
    font-size: 1.6rem;
    font-weight: 200;
    color: #555555;
}

.this_img {transform: translateY(0);}
.this_img p {transform: translateY(200%);}
.out_range {opacity: 0;}