#local {
    padding-top: 10rem;
}

.local_con {
    margin-top: 4rem;
    display: flex;
    justify-content: space-between;
}

.local_con > div {
    width: 50%;
}

.local_con h1 {
    font-size: 5rem;
    font-weight: bold;
}

/* food category */
.local_con > div:nth-of-type(2) {
    display: flex;
    justify-content: center;
}

.local_items {
    width: 50rem;
    display: flex;
    flex-wrap: wrap;
}

.food_box {
    width: 23rem;
    height: 23rem;
    margin: 1rem;
    background-color: lightblue;
}