* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Pretendard-Regular', sans-serif;
}

@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

li {
    list-style: none;
    padding-left: 0;
}

li::marker {content: "";}

a {
    text-decoration: none;
    color: inherit;
}

:root {
    --transition: 0.3s ease-out;
    --width: 1200px;
}

body {
    background-color: #f0f0f0;
}

/* header */
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 2;
    display: flex;
    justify-content: center;
    transition: 0.5s ease-in-out;
}

.scrolled {
    transform: translateY(-140px);
    background-color: #000000B3;
    backdrop-filter: blur(20px);
}

.header {
    position: relative;
    width: var(--width);
}

/* logo */
.header_logo {
    height: 140px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {display: flex;}
.logo img {height: 140px;}

/* navigation */
nav {
    position: relative;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav a, nav button {
    position: relative;
    color: #eee;
    transition: var(--transition);
}

.themes, .lang {display: flex;}

.themes button {
    font-size: 14px;
    margin-right: 30px;
    border: none;
    background-color: inherit;
    cursor: pointer;
    text-transform: uppercase;
}

.lang a {
    font-size: 14px;
    margin-left: 30px;
    text-transform: uppercase;
}

.dark, .kor {color: #eeeeeeB3;}

.light::before, .kor::before {
    position: absolute;
    content: "";
    top: 3px;
    right: -15px;
    width: 1px;
    height: 10px;
    background-color: #eeeeeeB3;
}

ul {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
}

ul li {
    margin: 0 40px;
}

ul li a {
    font-size: 16px;
    text-transform: uppercase;
}

nav a:hover {color: rgb(247, 148, 29);}

/* visual */
#visual {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.2);
}

#visual img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    z-index: -1;
    animation: visual infinite 8s ease-in-out;
}

@keyframes visual {
    from, to {transform: scale(1);}
    50% {transform: scale(1.1);}
}

.visual_txt {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    pointer-events: none;
}

.visual_txt h1 {
    font-size: 60px;
    text-transform: capitalize;
    color: #eee;
}

.visual_txt span {color: rgb(247, 148, 29);}

.visual_txt p {
    margin-top: 10px;
    font-size: 14px;
    text-transform: capitalize;
    color: #eeeeeeE3;
}

main {
    width: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
}

.main {width: var(--width);}

/* page index */
#index {
    padding: 100px 0;
    width: 100%;
}

.title {
    font-size: 40px;
    font-weight: bold;
    text-transform: uppercase;
}

.category {
    /* width: calc(100% - 30px); */
    width: 100%;
    margin: 0 auto;
    margin-top: 40px;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    transition: var(--transition);
}

.cate_box {
    position: relative;
    width: 585px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: var(--transition);
}

.cate_box::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.2);
    transition: var(--transition);
}

.cate_box img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    z-index: -1;
    transition: var(--transition);
}

.one {height: 290px;}
.two {height: 330px;}

.cate_box > p {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.5);
    transition: var(--transition);
}

#attr {font-size: 410px; line-height: 290px;}
#acti {font-size: 470px; line-height: 330px;}
#food {font-size: 470px; line-height: 330px;}
#sugg {font-size: 400px; line-height: 290px;}

.tag {
    position: absolute;
    top: 30px;
    left: 30px;
    transition: var(--transition);
    opacity: 0;
}

.tag h1 {
    font-size: 30px;
    text-transform: uppercase;
    /* color: #eee; */
    color: white;
}

.tag p {
    margin-top: 5px;
    color: #eeeeeeE3;
}

.cate_box a {
    position: absolute;
    top: 30px;
    right: 30px;
    width: 35px;
    height: 35px;
    background-color: rgba(255, 255, 255, .25);
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: var(--transition);
}

.cate_box path {color: #eee;}
.cate_box a:hover path {color: rgb(0, 93, 170);}

.cate_box:hover .tag {opacity: 1;}
.cate_box:hover img {transform: scale(1.1);}
.cate_box:hover > p {transform: scale(2.1);}
.cate_box:hover a {background-color: white;}
.cate_box:hover path {color: #000;}
.cate_box:hover::before {background-color: rgba(0, 0, 0, 0.4);}

.show {width: 100%;}
.category > div > div:nth-of-type(1) {margin-bottom: 30px;}

/* attractions */
#attractions {
    margin-top: 20px;
    padding-bottom: 100px;
    width: 100%;
}

.attr_label {
    position: relative;
    margin-top: 40px;
    width: 100%;
    height: 480px;
    /* background-color: lightblue; */
    /* overflow: hidden; */
}

.location_info {
    position: absolute;
    top: 0;
    left: 700px;
    width: 500px;
    height: 160px;
    /* background-color: lightblue; */
    z-index: 1;
}

.location_info > div {
    display: flex;
    align-items: start;
}

.location_info svg {
    width: 25px;
    margin-right: 15px;
}

.location_info path {
    fill: #888;
}

.location_info p {
    width: 460px;
    font-size: 18px;
    height: 40px;
}

.place_tag {margin-top: 20px;}

.place_tag span {
    text-transform: uppercase;
    padding: 0 15px;
    background-color: #dcdcdc;
    height: 30px;
    overflow: hidden;
    display: flex;
    align-items: center;
    border-radius: 50px;
    margin-right: 20px;
    pointer-events: none;
}

.swip_btn {
    position: absolute;
    top: 345px;
    left: 580px;
    display: flex;
    z-index: 1;
}
.swip_btn button {
    border: none;
    cursor: pointer;
    width: 40px;
    height: 40px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: inherit;
}
.swip_btn img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}
.swip_btn img:hover {
    filter: invert(63%) sepia(84%) saturate(1608%) hue-rotate(347deg) brightness(99%) contrast(95%);
}

/* swiper */
.swiper {
    position: relative;
    width: calc(700px * 8);
    height: 100%;
    overflow: hidden;
    display: flex;
    transition: 0.6s ease-in-out;
    transform: translateX(-700px);
}

.attr_box {
    position: relative;
    width: 660px;
    height: 100%;
    margin-right: 40px;
    overflow: hidden;
    cursor: pointer;
    transition: 0.5s ease-in-out;
}

.attr_img {
    position: relative;
    width: 100%;
    height: 320px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateY(160px);
    transition: 0.5s ease-in-out;
    user-select: none;
}

.attr_img::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.2);
}

.attr_box img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.attr_img p {
    position: absolute;
    bottom: 30px;
    left: 30px;
    color: white;
    text-transform: capitalize;
    font-size: 35px;
    font-weight: bold;
    transition: 0.5s ease-in-out;
}

.attr_info {
    padding: 25px;
    user-select: none;
}

.attr_name {
    text-transform: capitalize;
}

.attr_exp {
    margin-top: 15px;
    color: #555;
    font-size: 16px;
    font-weight: 200;
}

.curr_img {
    transform: translateY(0);
}
.curr_img p {
    transform: translateY(200%);
}