* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wrap {
    padding-top: 10rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.wrap > div {
    width: 50%;
}

.wrap > div:nth-of-type(2) {
    display: flex;
    justify-content: center;
}

.con_box {
    position: sticky;
    width: 500px;
    height: 350px;
    margin-bottom: 20px;
    /* clip-path: polygon(0% 0%, 100% 0%, 95% 100%, 5% 100%); */
}

.con_box:nth-of-type(1) {background-color: lightblue;}
.con_box:nth-of-type(2) {background-color: lightcoral;}
.con_box:nth-of-type(3) {background-color: lightgreen;}
.con_box:nth-of-type(4) {background-color: lightyellow;}