#local {
    padding-top: 10rem;
}

.local_con {
    margin-top: 4rem;
    display: flex;
    justify-content: space-between;
    overflow-y: scroll;
}

.local_con::-webkit-scrollbar {
    display: none;
}

.local_con > div {
    width: 50%;
}

.local_con h1 {
    font-size: 5rem;
    font-weight: bold;
}

/* food category */
.local_con > div:nth-of-type(2) {
    display: flex;
    justify-content: center;
}

.local_items {
    position: sticky;
    top: 40px;
    width: 50rem;
    height: 50rem;
    display: flex;
    flex-wrap: wrap;
}

.food_box {
    width: 23rem;
    height: 23rem;
    margin: 1rem;
    background-color: lightblue;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.open {
    position: absolute;
}

.food_box > div:nth-of-type(1) {margin: 10px;}

.left_top {
    top: 0;
    left: 0;
    border-top: 80px solid white;
    border-right: 80px solid transparent;
}

.right_top {
    top: 0;
    right: 0;
    border-top: 80px solid white;
    border-left: 80px solid transparent;
}

.left_bottom {
    bottom: 0;
    left: 0;
    border-bottom: 80px solid white;
    border-right: 80px solid transparent;
}

.right_bottom {
    bottom: 0;
    right: 0;
    border-bottom: 80px solid white;
    border-left: 80px solid transparent;
}

.food_wrap {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 3;
    transition: var(--swip);
}

.tl {
    transform: translate(-100%, -100%);
}
.tr {
    transform: translate(100%, -100%);
}
.bl {
    transform: translate(-100%, 100%);
}
.br {
    transform: translate(100%, 100%);
}